body {
  background-image: url('../img/symphony.png');
  font-family: lato;
  text-align: center;
}

.container {
  background-image: url('../img/upfeathers.png');
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100% !important;
  text-align: center;
  font-size: 16px;
  height: 64px;
  line-height: 64px;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 3px;
  height: 70px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 64px;
}

.albumArt {
  float: left;
}

hr {
  margin-left: 16px;
  margin-right: 16px;
  border-color: #CCCCCC;
}
